* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Irish Grover', cursive, serif;
}

body {
  background-image: url('./resources/snake-background.jpg');
  background-size: 100vh;
  background-repeat: round;
}

.header {
  height: 20vh;
  width: 100%;
}

.title-header {
  padding: 5vh 30px;
  font-size: 50px;
}

.hero {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 7%;
}

.sections {
  width: 40%;
}

.top-section {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-section {
  font-size: 40px;
}

.btn {
  height: 30px;
  width: 180px;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover,
.btn:active {
  background-color: rgb(207, 255, 74);
}

.scores-container {
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  border: 2px solid black;
  border-radius: 5px;
}

.specific-score {
  height: 30px;
  width: 100%;
  padding-top: 5px;
  padding-left: 20px;
  border: 1px solid grey;
}

.specific-score.specific-score:nth-child(2n + 1) {
  background-color: silver;
}

.add-score-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-score-title {
  height: 20%;
  width: 100%;
  text-align: center;
  padding-top: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.input {
  padding-left: 10px;
  height: 30px;
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
}

.submit-btn {
  align-self: flex-end;
}

.display-msg-error {
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  color: #b30000;
  padding: 10px;
  background-color: antiquewhite;
  border: 1px solid antiquewhite;
  border-radius: 20px;
}

.display-msg-succes {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  color: green;
  background-color: #fff;
  border: 1px solid antiquewhite;
  padding: 10px;
  border-radius: 20px;
  width: 400px;
}
